In [63]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

from xgboost import XGBRegressor
import pickle

In [64]:
data = pd.read_csv('insurance.csv')

In [65]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [66]:
data.drop(['sex', 'smoker', 'region'], axis=1, inplace=True)

### focusing on deployment process so devloping an basic model

In [67]:
X.head()

   age     bmi  children
0   19  27.900         0
1   18  33.770         1
2   28  33.000         3
3   33  22.705         0
4   32  28.880         0

In [68]:
y = data['charges']
X = data.drop('charges', axis=1)

In [69]:
# X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=0)

In [70]:
xgb_model = XGBRegressor(n_estimators=500,
                         criterion='gini',
                        max_depth=10,
                        min_sample_split=2,
                        min_samples_leaf=2)

In [71]:
xgb_model.fit(X.values, y.values)

[23:24:24] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, criterion='gini', gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=10, min_child_weight=1, min_sample_split=2,
             min_samples_leaf=2, missing=None, n_estimators=500, n_jobs=1,
             nthread=None, objective='reg:linear', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
             subsample=1, verbosity=1)

In [72]:
pickle_file = open('regressor.pkl', 'wb')
pickle.dump(xgb_model, pickle_file)
pickle_file.close()

In [73]:
#test
xgb_model.predict([1,2,3])

array([11099.039], dtype=float32)